body {
    background-color: rgb(255, 206, 217);
    color: rgb(180, 0, 105);
    font-family: 'Arial';
}

h1 {
    background-size: 20px;
    padding: 20px;
    margin: 70px;
    border-color: white;
    border-style: dotted;
    font-family: 'Rockwell';
    color: rgb(0, 185, 231);
    text-align: center;
}

.div {
    font-family: 'Rockwell';
    color: rgb(0, 185, 231);
    text-align: center;
}

form {
    position: relative;
    display: grid;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin: auto;
    padding: 30px;
    height: 350px;
    width: 600px;
    text-align: justify;
}

.user-avatar {
    position: relative;
    display: grid;
    border: 6px black;
    border-radius: 20px;
    margin: auto;
}