{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blogs{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <h1>Boas vindas!</h1>
    <div class="div">
        <br/>
        <p>Postagens incríveis abaixo:</p>
        <br/>
        <br/>
    </div>
{% for postagem in posts %}
    <p><img src=" {{ postagem.avatar.url }}"> {{ postagem.nome_perfil }}</p>
    <img src=" {{ postagem.imagem.url }}" alt="">
    <p>Descrição: {{ postagem.descricao }}</p>
    <p>Publicado em {{ postagem.data_public }} às {{ postagem.hora_public }}</p>
{% endfor %}
</body>
</html>