{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <h1>Boas vindas!</h1>
    <div class="div">
        <br/>
        <p>Postagens incríveis abaixo:</p>
        <br/>
        <br/>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="enviar">
        </form>
    </div>
{% for postagem in posts %}
    <p><img src=" {{ postagem.avatar.url }}" alt="user-avatar"> {{ postagem.nome_perfil }}</p>
    <img src=" {{ postagem.imagem.url }}" alt="user-image">
    <p>Descrição: {{ postagem.descricao }}</p>
    <p>Publicado em {{ postagem.data_public }} às {{ postagem.hora_public }}</p>
{% endfor %}

{% endblock %}